* {
    margin: 0;
    padding: 0;
    min-width: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --grey: #222222;
    --red: #ff3131;
    --blue: #0071E3;
    --offwhite: #f6f4f0;
    color: var(--grey);
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 150px;
    height: 100vh;
    left: 0;
    z-index: 100000;
    background-color: #ff31317a;
    backdrop-filter: blur(10px);
    color: var(--offwhite);
    align-items: center;
    box-shadow: 10px 10px 20px #83030349;
}

nav ul {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    gap: 10px;
    margin-top: auto;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: flex;
    text-decoration: none;
    color: var(--offwhite);
    cursor: pointer;
    font-weight: 500;
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul li:hover {
    background-color: rgba(255, 0, 0, 0.482);
}

.craftedLogo {
    position: relative;
    max-width: 130px;
    margin-top: auto;
    margin-bottom: 20px;
}

.mainWrapper {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: repeat(4 1fr);
}

.hero {
    height: 90vh;
    width: 100vw;
    background-image: url(./images/pexels-cottonbro-4065876.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/3;
    grid-row: 1/4;
    z-index: 1;
}

.content {
    display: flex;
    background-color: rgba(242, 242, 242, 0.387);
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 30px 10px rgba(150, 150, 150, 0.733);
    border-radius: 10px;
    grid-column: 2;
    grid-row: 2/3;
    z-index: 999;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.text {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

h1 {
    margin-bottom: 10px;
    font-size: 3rem;
}

p {
    font-size: 1rem;
    padding-bottom: 30px;
}

button {
    cursor: pointer;
    justify-self: center;
    align-self: center;
    padding: 20px;
    border: 0;
    border-radius: 5px;
    background-color: #FF3131;
    color: #F6F4F0;
    border: 2px solid transparent;
    font-size: 14pt;
    font-weight: 500;
    transition: all .3s ease;
}

Button:hover {
    background-color: var(--offwhite);
    color: var(--red);
    border-color: var(--red);
    transform: scale(1.05);
}

.navButton {
    background-color: var(--offwhite);
    color: var(--red);
    border: 2px solid transparent;
    margin-top: 30px;
    transition: all .3s ease;
}

.navButton:hover {
    background-color: var(--red);
    color: var(--offwhite);
    border-color: var(--offwhite);
    transform: scale(1.05);
}

#logo {
    max-width: 250px;
    padding: 20px;
}

.highlight {
    color: var(--grey);
    font-weight: 800;
    position: relative;
}

/* .highlight::after {
    content: "";
    position: absolute;
    background-color: var(--red);
    height: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
} */

.intHighlight {
    font-weight: 500;
    transition: all .2s ease;
}

.intHighlight:hover {
    color: var(--red);
}

#copyright {
    position: absolute;
    right: 0;
    bottom: 70px;
    margin-right: 20px;
    z-index: 9999;
    color: hsl(0, 0%, 43%);
}

.wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.wrapper p {
    padding-top: 20px;
}

.servicesGrid {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    gap: 20px;
    grid-template-rows: 2;
    margin-left: 170px;
    margin-right: 20px;
    padding: 20px
}

/* .servicesCard:first-of-type {
    margin-left: auto;
} */

.servicesCard {
    max-width: 28vw;
    grid-row: 2;
    background-color: var(--offwhite);
    border-radius: 10px;
    padding: 20px;
    justify-self: center;
    min-height: 330px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px 5px rgba(52, 52, 52, 0.393);
    transition: all .2s ease;
}

.servicesCard:hover {
    transform: scale(1.02);
}

.servicesCard p {
    padding-top: 20px;
}

.cardImg {
    max-width: 22vw;
    margin-top: auto;
    align-self: center;
    border: var(--red) solid 2px;
    border-radius: 10px;
}